@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 220 13% 91%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;

    --sidebar-background: 221 83% 45%;
    --sidebar-foreground: 220 13% 95%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 221 83% 45%;
    --sidebar-border: 221 83% 48%;
  }

  .dark {
    --background: 225 12% 8%; /* Almost black */
    --foreground: 0 0% 98%;
    --card: 225 12% 12%; /* Slightly lighter than background */
    --card-foreground: 0 0% 98%;
    --popover: 225 12% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 83% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 12% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 12% 18%;
    --muted-foreground: 225 8% 65%;
    --accent: 225 12% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 12% 20%;
    --input: 225 12% 18%;
    --ring: 221 83% 63%;

    --sidebar-background: 221 83% 45%;
    --sidebar-foreground: 220 13% 95%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 221 83% 45%;
    --sidebar-border: 221 83% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
